# Ignore Python cache and pytest cache
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Ignore log files and temporary data
*.log
*.ckpt
*.h5
*.hdf5

# Ignore environment files
.env

# Ignore Colab-specific files
/content/